<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row text-center" *ngIf="!isLoaded">
    <pro-loader></pro-loader>
  </div>
  <div class="row" *ngIf="isLoaded">
    <pro-bill-card [bill]="bill" [currency]="currency"></pro-bill-card>
    <pro-currency-card [currency]="currency"></pro-currency-card>
  </div>
</section>
